@media (max-width: 575.98px) {
    header, main .salutation .inner-center::before, main .salutation .inner-center::after, main .salutation .inner-right .arrow-down, .main .engineering-heading, .layout-figure{
        display: none;
    }
    header.device-575 {
        position: fixed;
        height: 54px;
        top: 10px;
        padding: 0;
        background: rgb(20 20 20 / 95%);
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 20px);
        left: calc(10px);
        z-index: 999;
        box-sizing: border-box;
        border-radius: 5px;
    }
    header.device-575 div {
        flex: 1;
        text-align: center;
    }
    header.device-575 .menu { 
        position: relative;
        text-align: left;
        padding-left: 30px;
    }
    header.device-575 .menu a { 
        color: #fff;
        font-size: 14px;
        font-family: "IBM Plex Mono", monospace;
        font-weight: 400;
        letter-spacing: -.3px;
        text-decoration: none;
        border-bottom: 1px solid #bdbdbd;
    }
    header.device-575 .btn-start {
        text-align: right;
        padding-right: 30px;
    }
    header.device-575 .btn-start button {
        color: #fff;
        font-size: 14px;
        font-family: "IBM Plex Mono", monospace;
        font-weight: 400;
        letter-spacing: -.3px;
        border: 0;
        border-bottom: 1px solid #bdbdbd;
        background: initial;
    }
    header.device-575 nav.dropmdown {
        position: absolute;
        top: -650px;
        left: 0;
        border-radius: 5px;
        width: 340px;
        background: rgb(20 20 20 / 98%);
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        box-sizing: border-box;
        padding: 15px 20px 15px 30px;
        z-index: 990;
    }
    header.device-575 nav.dropmdown {
        color: #fff;
        opacity: 0;
        transition: all 0.3s ease-in-out 0s;
    }
    header.device-575 nav.open {
        top: 45px;
        display: block;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: all 0.3s ease-in-out 0s;
    }
    header.device-575 nav.dropmdown ul li {
        font-family: "PT Mono", serif;
        color: #fff;
        line-height: 34px;
        font-size: 13px;
    }
    header.device-575 nav.dropmdown ul li:nth-child(12){
        margin-bottom: 25px;
    }
    header.device-575 nav.dropmdown ul li a {
        font-size: 13px;
        color: #fff;
        padding-bottom: 2px;
        text-decoration: none;
        border-bottom: 1px solid #4d4d4d;
    }
    main .salutation {
        display: flex;
        flex-direction: column;
    }
    main .salutation .inner-left {
        order: 2;
    }
    main .salutation .inner-center {
        order: 1;
    }
    main .salutation .inner-right{
        order: 3;
    }
    main .salutation .inner-left .heading {
        padding-top: 40px;
    }
    main .salutation .inner-left, main .salutation .inner-right {
        height: initial;
        background-color: #000;
        padding: 0 40px 40px 40px;
    }
    main .salutation .inner-left .heading .paragrah-large {
        font-size: 58px;
        line-height: 56px;
        color: #fff;
    }
    main .salutation .inner-left .paragrah-small {
        color: #fff;
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 40px;
    }
    main .salutation .inner-left .layout-phone{
        margin-top: 10px;
    }
    main .salutation .inner-left a.btm-proekt {
        background-color: #1c1c1c;
        font-weight: 400;
        height: 56px;
        line-height: 54px;
    }
    main .salutation .inner-center {
        height: initial;
    }
    main .salutation .inner-center .video-wrapper {
        width: 100%;
        height: 340px;
        background: #000;
        margin: 0;
    }
    main .salutation .inner-center .icon-lines {
        display: none;
    }
    main .salutation .inner-center {
        clip-path: initial;
        background-color: #000;
    }
    main .salutation .inner-center h1 {
        color: #ffffff;
        font-size: 31vw;
        background-color: #000000;
    }
    main .video-wrapper::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 90px;
        background: linear-gradient(180deg, rgb(0 0 0 / 0%), rgb(0 0 0));
    }
    main .salutation .inner-right::before {
        display: none;
    }
    main .salutation .inner-right .layout-phone,
    main .salutation .inner-right .layout-phone a {
        color: #fff;
    }
    main .salutation .inner-right .layout-phone a {
        font-size: 40px;
    }
    main .engineering{
       background-color: #000;
    }
    main .engineering h2{
        font-size: 58px;
        line-height: 56px;
        color: #000;
    }
    main .engineering h2{
        color: #fff;
    }
    main .engineering .grid-4 {
        grid-template-columns: 1fr 1fr;
    }
    main .engineering-heading {
        padding: 50px 40px 40px 40px;
    }
    main .engineering .grid-4 .engin-wrap .engin-price {
        width: 100%;
        font-size: 12px;
        font-weight: 400;
        height: 28px;
        line-height: 28px;
    }
    main .engineering .grid-4 .engin-wrap .engin-more {
        display: block;
        width: 100%;
        padding: 0;
        height: 42px;
        background-color: #1c1c1c;
        clip-path: initial;
        font-size: 12px;
        font-weight: 400;
        line-height: 42px;
        text-align: center;
    }
    main .engineering .grid-4 .engin-wrap .engin-more .arrow-right {
        display: none;
        position: initial;
        left: 15px;
        top: 4px;
    }
    main .engineering .grid-4 .engin-wrap {
        padding: 30px;
    }
    main .engineering .grid-4 .engin-wrap .engin-name {
        min-height: 68px;
        font-size: 15px;
        padding-right: 5px;
        padding-top: 15px;
    }
    main .engineering .grid-4 .engin-wrap .engin-price {
        margin-bottom: 10px;
        color: #000;
    }
    main .proekt-wrap .proekt-heading {
        padding: 50px 40px 40px 40px;
    }
    main .proekt-wrap .grid-4 {
        grid-template-columns: 1fr 1fr;
    }
    main .proekt .proekt-description .layout-btn a.btn-mode {
        display: block;
        width: 100%;
        height: 42px;
        line-height: 42px;
        clip-path: initial;
        font-size: 12px;
        padding: 0;
        text-align: center;
    }
    main .proekt .proekt-description .layout-btn .arrow-right{
        display: none;
    }
    main .proekt .proekt-description {
        padding: 20px;
    }
    main .proekt .proekt-description .proek-customer {
        margin-bottom: 30px;
        font-size: 15px;
        font-weight: 300;
    }
    main .proekt .proekt-description .proek-name {
        display: block;
        width: 100%;
        height: initial;
        padding: 7px 5px 7px 15px;
        font-size: 12px;
        line-height: 14px;
    }
    main .proekt .proekt-description .layout-btn {
        margin-top: 15px;
    }
    main .proekt {
        border-radius: 0;
    }
    main .shorts-wrap {
        margin-top: 1px;
        background: #000;
        padding: 50px 40px 40px 40px;
    }
    main .shorts-wrap h3{
        color: #fff;
        font-size: 58px;
        line-height: 56px;
    }
    main .shorts-wrap .shorts-inner {
        display: block;
        padding: 0;
    }
    main .shorts-wrap .shorts-inner .continue {
        display: block;
        width: 100%;
        padding-bottom: 0;  
    }
    main .shorts-wrap .shorts-inner .continue .continue-inner {
        color: #fff;
        font-weight: 400;
        font-size: 14px;
    }
    main .shorts-items .grid-4 {
        grid-template-columns: 1fr 1fr;
        box-sizing: border-box;
        padding: 10px 40px 40px 40px;
        gap: 5px;
    }
    main .shorts-items .short .short-inner a .icon-play {
        width: 40px;
        height: 40px;
        left: 5px;
        bottom: 10px;
    }
    main .shorts-items .short .short-inner a .media-size {
        font-size: 12px;
        left: 50px;
        bottom: 5px;
    }
    main .proekt .proek-name{
        font-weight: 400;
    }
    main .layout-heading {
        padding: 120px 60px 40px 40px;
        background: #000;
    }
    main .layout-heading h1 {
        font-size: 58px;
        line-height: 56px;
        color: #fff;
    }
    main .content-page {
        background-color: #000 !important;
        color: #fff;
    }
    main .content-page .contact-items {
        display: flex;
        flex-direction: column;
    }
    main .content-page .contact-items .contact-cell {
        padding: 0 0 10px 0;
    }
    main .content-page .contact-items .contact-cell a {
        color: #fff;
        border-bottom: 1px solid #3d3d3d;
        padding-bottom: 2px;
    }
    main .content-page .contact-map .map-header h2 {
        padding: 60px 0 30px 0px;
    }
    main .content-page .contact-map .map-content iframe {
        padding: 0;
        border-radius: 6px;
    }
    main .content-page .cookie {
        max-width: 100%;
        padding: 0px;
    }
    main .content-page .cookie h3 {
        font-size: 52px;
        line-height: 52px;
    }
    main .content-page .cookie p {
        font-size: 14px;
    }
    main .engineering .grid-4 .engin-wrap a.all-produce {
        font-size: 32px;
    }
    main .proekt{
        margin-top: 0;
    }
    main .proekt-wrap .proekt-heading {
        padding: 120px 60px 40px 40px;
        background: #000;
    }
    main .proekt-wrap h2 {
        color: #fff;
        font-size: 58px;
        line-height: 56px;
    }
    main .proekt .layout-btn {
        padding: 30px;
    }
    main .proekt .icon-name {
        display: none;
    }
    main .proekt .proek-name {
        left: 30px;
        bottom: 20px;
    }
    main .proekt .layout-btn a.btn-mode {
        justify-content: center;
        padding: 0;
        font-size: 12px;
        font-weight: 400;
        height: 42px;
        line-height: 42px;
        clip-path: initial;
    }
    main .proekt .layout-btn a.btn-mode .arrow-right {
        display: none;
    }
    main .proekt-wrap .proekt-footer {
        min-height: 100px;
        margin-top: 1px;
    }
    main .proekt-wrap .proekt-footer a {
        width: calc(100% - 60px);
        font-size: 32px;
        padding: 10px 0;
    }
    main .proekt-wrap .proekt-inner {
        margin: 110px 0 60px 0;
    }
    main .proekt-wrap .proekt-local {
        font-size: 13px;
    }
    main .proekt-wrap .proekt-local .local-icon {
        width: 30px;
    }
    main .proekt-wrap h1 {
        font-size: 58px;
        line-height: 56px;
    }
    main .proekt-wrap .proekt-gallery {
        box-sizing: border-box;
        padding: 0 15px;
    }
    main .proekt-wrap .proekt-gallery picture {
        margin-bottom: 10px;
    }
    main .proekt-wrap .proekt-gallery picture img {
        border-radius: 4px;
    }
    main .proekt picture::after{
        background: -webkit-linear-gradient(0deg, rgb(0, 0, 0, 0.8), rgb(255, 255, 255, 0));
        background: -moz-linear-gradient(0deg, rgb(0, 0, 0, 0.8), rgb(255, 255, 255, 0));
        background: linear-gradient(0deg, rgb(0, 0, 0, 0.8), rgb(255, 255, 255, 0));
    }
    .engineering-page .product-content {
        max-width: 100%;
        padding: 40px 40px 55px 40px;
        font-size: 14px;
        line-height: 24px;
    }
    .engineering-page .product-content h2{
        margin-bottom: 10px;
        font-size: 48px;
    }
    .engineering-page .product-content p{
        padding-bottom: 15px;
    }
    .calling-mobile{
        position: fixed;
        z-index: 999;
        bottom: 15px; right: 15px;
        display: block;
        width: 55px; height: 55px;
        background-color: #fff;
        box-sizing: border-box;
        border: 1px solid #111;
        border-radius: 50%;
        text-align: center;
        line-height: 80px;
    }
    .calling-mobile a{
        font-size: 0;
    }
    .calling-mobile a svg{
        fill: #000;
        width: 28px; height: 28px;
    }
    footer {
        padding: 100px 40px 40px 40px;
    }
    footer .footer-wrap {
        display: flex;
        flex-direction: column;
    }
    footer .footer-wrap .footer-items {
        padding: 0;
        margin-top: 40px;
        margin-bottom: 0;
    }
    footer .footer-wrap .footer-items ul li {
        padding-bottom: 10px;
        font-weight: 400;
    }
    footer .footer-wrap .footer-items ul li:first-child {
        font-size: 13px;
        font-weight: 400;
    }
    footer .footer-wrap .footer-items ul li a {
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
    }
}

@media only screen and (orientation: landscape) and (max-width: 961px) {
    body {
        overflow: hidden;
    }
    header .layout-start button.btn-start {
        display: none;
    }
    body::before {
        content: "Поверните устройство вертикально";
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0);
        z-index: 9999;
        
        padding-top: 110px;
        font-size: 16px;
        font-family: "PT Mono", serif;
        letter-spacing: -0.2px;
        text-align: center;
        color: #fff;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){

}

@media (min-width: 1140px) and (max-width: 1365px){
    main .salutation .inner-left .heading .paragrah-large{
        font-size: 58px;
        line-height: 58px;
    }
    header .layout-start .btn-mode a{
        width: 40px; height: 40px;
        margin: 0 20px;
    }
    header .layout-start button.btn-start{
        width: 75%;
        font-size: 13px;
    }
    main .salutation .inner-left a.btm-proekt{
        font-size: 13px;
    }
    main .shorts-wrap .shorts-inner .continue{
        width: 35%;
    }
}

@media (min-width: 1366px) and (max-width: 1440px) {
    main .salutation .inner-left .heading .paragrah-large{
        font-size: 58px;
        line-height: 58px;
    }
    header .layout-start .btn-mode a{
        width: 40px; height: 40px;
        margin: 0 20px;
    }
    header .layout-start button.btn-start{
        width: 75%;
        font-size: 13px;
    }
    main .salutation .inner-left a.btm-proekt{
        font-size: 13px;
    }
    main .shorts-wrap .shorts-inner .continue{
        width: 35%;
    }
}

@media (min-width: 1441px) and (max-width: 1600px) {

}

@media (min-width: 1601px) and (max-width: 1920px) {

}

@media (min-width: 1921px) and (max-width: 2560px) {

}

