:root{
    --main-color: rgb(121, 100, 174);
    --main-radis: 16px;
    --main-btn-hover: rgb(136 82 253);
}

html{
  font-size: 16px;
}

header.device-575, .calling-mobile{
    display: none;
}

body{
    font-family: var(--main-font);
    background-color: #000;
}

header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; 
    gap: 0;
    height: 85px;
    margin-bottom: 1px;
    background-color: #fff;
    border-radius: var(--main-radis);
}

header .layout-logotype{
    display: flex;
    align-items: center;
    height: 85px;
    box-sizing: border-box;
    padding: 10px;
}

header .layout-logotype a{
    display: inline-block;
    margin-left: 30px;
}

header .layout-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

header .layout-menu nav{
    width: 100%;
}

header .layout-menu nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

header .layout-menu nav ul li{
    height: 85px;
    line-height: 85px;
    display: block;
    text-align: center;
}

header .layout-menu nav ul li a.menu-link-content{
    color: #000;
    text-decoration: none;
    padding: 0 15px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    letter-spacing: -.3px;
    font-size: 15px;
    transition: all 0.3s  ease-in-out 0s;
}

header .layout-menu nav ul li a.menu-link-content:hover{
    color: #276bfb;
    transition: all 0.3s  ease-in-out 0s;
}

header .layout-menu nav ul li a.menu-link-content.dropdown{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 105px;
}

header .layout-menu nav ul li a.menu-link-content.dropdown .icon-items{
    position: relative;
    left: 5px; top: 1px;
}

header .layout-start{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
    box-sizing: border-box;
    padding: 0 20px;
}

header .layout-start .btn-mode a{
    font-size: 0;
    display: block;
    width: 44px; height: 44px;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 0 28px;
}

header .layout-start button.btn-start{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 56px;
    line-height: 54px;
    border-radius: 5px;
    background-color: #000000;
    box-sizing: border-box;
    padding: 0 30px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%);
    text-align: left;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    letter-spacing: -.3px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s  ease-in-out 0s;
}

header .layout-start button.btn-start .icon-arrow{
    position: relative;
    top: 3px;
}

header .layout-start button.btn-start:hover{
    background-color: #1d55cd;
    transition: all 0.3s  ease-in-out 0s;
}

main .salutation{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; 
    gap: 0;
}

main .salutation .inner-left,
main .salutation .inner-right{
    height: calc(100vh - 85px);
    border-radius: 30px;
    background-color: #fff;
}

main .salutation .inner-left{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
}

main .salutation .inner-left .heading .paragrah-large{
    max-width: 350px;
    margin-bottom: 30px;
    font-family: 'Condens';
    text-transform: uppercase;
    font-size: 72px;
    line-height: 72px;
}

main .salutation .inner-left .paragrah-small{
    font-size: 15px;
    line-height: 24px;
    color: #000;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    letter-spacing: -.3px; 
}

main .salutation .inner-left a.btm-proekt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 56px;
    line-height: 54px;
    background-color: #000;
    box-sizing: border-box;
    padding: 0 25px;
    text-decoration: none;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%);
    border-radius: 5px;
    font-size: 15px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    letter-spacing: -.3px;
    color: #fff;
    transition: all 0.3s ease-in-out 0s;
}

main .salutation .inner-left a.btm-proekt .icon-arrow{
    position: relative;
    top: 5px;
}

main .salutation .inner-left a.btm-proekt:hover{
    background-color: #1d55cd;
    transition: all 0.3s ease-in-out 0s;
}

main .salutation .inner-right{
    position: relative;
    padding: 40px;
}

main .salutation .inner-right::before{
    content: '';
    display: block;
    width: 20px; height: 20px;
    border-radius: 2px;
    /* border: 1px solid #e7e7e7; */
    background-color: #d3d3d3;
    opacity: .5;
}

main .salutation .inner-right .layout-phone{
    margin-top: 40px;
    color: #000;
    font-size: 15px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    letter-spacing: -.3px;
}

main .salutation .inner-right .layout-phone a{
    display: block;
    margin-top: 10px;
    font-size: 58px;
    font-family: 'Condens';
    text-decoration: none;
    color: #000;
}

main .salutation .inner-right .layout-phone a.btn-email{
    font-size: 18px;
    padding-top: 20px;
    font-family: "PT Mono", serif;
}

main .salutation .inner-right .arrow-down{
    position: absolute;
    bottom: 30px;
    left: 30px;
    transform: rotate(135deg);
}

main .salutation .inner-center{
    position: relative;
    height: calc(100vh - 85px);
    background-color: #fff;
    border-radius: 30px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 120px), calc(100% - 120px) 100%, 0 100%);
}

main .salutation .inner-center::before{
    content: '';
    position: absolute;
    z-index: 101;
    display: block;
    right: 40px; top: 40px;
    border-radius: 2px;
    width: 80px; height: 20px;
    background-color: #ffefef;
}

main .salutation .inner-center::after{
    content: '';
    position: absolute;
    z-index: 101;
    display: block;
    left: 40px; bottom: 40px;
    border-radius: 2px;
    width: 80px; height: 20px;
    background-color: #ffefef;
}

main .salutation .inner-center .video-wrapper{
    position: relative;
    width: 99%;
    height: 90%;
    margin: 0 auto;
    margin-top: 20px;
    overflow: hidden;
    background: #fff;
    pointer-events: none;
}

main .salutation .inner-center video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

html > div[style] {
  display: none !important;
}

.video-wrapper video::-webkit-media-controls {
    display: none !important;
}

.video-wrapper video::-webkit-media-controls-picture-in-picture-button,
.video-wrapper video::-webkit-media-controls-overlay-play-button,
.video-wrapper video::-webkit-media-controls-play-button,
.video-wrapper video::-webkit-media-controls-play-button {
    display: none !important;
}

main .salutation .inner-center h1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    
    font-family: 'Condens';
    font-weight: 100;
    font-size: 13vw;
    letter-spacing: -2px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    mix-blend-mode: screen;
    color: #000;
}

main .salutation .inner-center .icon-lines{
    position: absolute;
    right: 11%;
    top: 15%;
    width: 60px;
    fill: #8f8f8f;
}

main .layout-heading {
    display: flex;
    align-items: center;
    min-height: 220px;
    padding: 70px 40px;
    border-radius: 30px;
    background-color: #fff;
}

main .layout-heading h1 {
    font-family: 'Condens';
    text-transform: uppercase;
    font-size: clamp(3.625rem, 7.5vw, 5.75rem);
    line-height: 70px;
    font-weight: 100;
}   

main .engineering{
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 0;
    background-color: #1e1e1e;
}

main .engineering-heading{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 70px 70px 70px 40px;
}

main .engineering-heading .layout-figure{
    width: 50px;
    margin-right: 30px;
}

main .engineering h2{
    font-family: 'Condens';
    text-transform: uppercase;
    font-size: 92px;
    font-weight: normal;
    color: #fff;
}

main .engineering .grid-4{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1px;
}

main .engineering .grid-4 .engin-wrap{
    box-sizing: border-box;
    padding: 45px;
    border-radius: var(--main-radis);
    background-color: #fff;
}

main .engineering .grid-4 .engin-wrap a{
    text-decoration: none;
    color: #000;
}

main .engineering .grid-4 .engin-wrap picture{
    filter: grayscale(0%);
    transition: all 0.3s ease-in-out 0s;
}

main .engineering .grid-4 .engin-wrap a picture:hover{
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out 0s;
}

main .engineering .grid-4 .engin-wrap .engin-load{
    display: none;
    color: #000;
    width: 65px;
    height: 32px;
    margin-bottom: 10px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #e7e7e7;
    border-radius: 6px;
    /* background-color: #fff4f5; */
    font-size: 12px;
    font-weight: 700;
}

main .engineering .grid-4 .engin-wrap .engin-name{
    font-size: 16px;
    font-weight: 500;
    font-family: "IBM Plex Mono", monospace;
    letter-spacing: -.7px;
    margin-bottom: 15px;
}

main .engineering .grid-4 .engin-wrap .engin-price{
    display: inline-block;
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
    margin-bottom: 50px;
    font-size: 13px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    letter-spacing: -.3px;
    text-align: center;
    border-radius: 3px;
    background-color: #f5f5f5;
}

main .engineering .grid-4 .engin-wrap .engin-more{
    display: flex;
    justify-content: space-between;
    width: 100%; height: 56px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%);
    background-color: #000;
    color: #fff;
    line-height: 54px;
    border-radius: 5px;
    padding: 0 40px 0 25px;
    font-size: 15px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    letter-spacing: -.3px;
    padding-bottom: 5px;
    transition: all 0.3s ease-in-out 0s;
}

main .engineering .grid-4 .engin-wrap .engin-more:hover{
    background-color: #1d55cd;
    transition: all 0.3s ease-in-out 0s;
}

main .engineering .grid-4 .engin-wrap .engin-more .arrow-right,
main .proekt-wrap .grid-4 .proekt .layout-btn .arrow-right{
    position: relative;
    left: 10px;
    top: 3px;
}

main .engineering .grid-4 .engin-wrap a.all-produce{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    border-radius: 5px;
    font-size: 44px;
    font-family: 'Condens';
    text-transform: uppercase;
    padding-bottom: 5px;
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease-in-out 0s;
}

main .engineering .grid-4 .engin-wrap a.all-produce:hover{
    color: #fff;
    background-color: #1d55cd;
    transition: all 0.3s ease-in-out 0s;
}

/* grid 2 */

main .grid-4{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1px;
}

/* grid 3 */

main .grid-3{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1px;
}

/* grid 5 */

main .engineering .grid-5{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1px;
}

main .engineering .grid-5 .engin-wrap{
    box-sizing: border-box;
    padding: 30px;
    border-radius: var(--main-radis);
    background-color: #fff;
}

main .engineering .grid-5 .engin-wrap a{
    text-decoration: none;
    color: #000;
}

main .engineering .grid-5 .engin-wrap picture{
    filter: grayscale(0%);
    transition: all 0.3s ease-in-out 0s;
}

main .engineering .grid-5 .engin-wrap a picture:hover{
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out 0s;
}

main .engineering .grid-5 .engin-wrap .engin-load{
    display: none;
    color: #000;
    width: 65px;
    height: 32px;
    margin-bottom: 10px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #e7e7e7;
    border-radius: 6px;
    /* background-color: #fff4f5; */
    font-size: 12px;
    font-weight: 700;
}

main .engineering .grid-5 .engin-wrap .engin-name{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
}

main .engineering .grid-5 .engin-wrap .engin-price{
    margin-bottom: 40px;
    font-size: 14px;
    font-weight: 500;   
}

main .engineering .grid-5 .engin-wrap .engin-more{
    display: flex;
    justify-content: space-between;
    width: 220px; height: 50px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%);
    background-color: #f3f7ff;
    color: #000;
    line-height: 49px;
    border-radius: 9px;
    padding: 0 40px 0 25px;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 5px;
    letter-spacing: -0.2px;
}

main .engineering .grid-5 .engin-wrap .engin-more .arrow-right{
    position: relative;
    left: 10px;
    top: 17px;
}

main .proekt-wrap .proekt-heading{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: #fff;
    box-sizing: border-box;
    padding: 70px 40px;
}

main .proekt-wrap .proekt-heading .proekt-inner{
    max-width: 800px;
    padding-left: 80px;
    font-size: 15px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    letter-spacing: -.3px;
    line-height: 24px;
}

main .layout-figure{
    width: 50px;
    margin-right: 30px;
}

main .proekt-wrap h1{
    text-align: center;
    font-family: 'Condens';
    text-transform: uppercase;
    font-size: 92px;
    font-weight: 100;
    line-height: 84px;
    color: #fff;
}

main .proekt-wrap h2{
    font-family: 'Condens';
    text-transform: uppercase;
    font-size: 92px;
    font-weight: 100;
}

main .proekt-wrap .grid-4{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1px;
    margin-top: 1px;
}

main .proekt{
    position: relative;
    box-sizing: border-box;
    background-color: #fff;
}

main .proekt a{
    display: block;
    position: relative;
}

main .proekt picture{
    position: relative;
}

main .proekt picture img{
    display: block;
    width: 100%;
    box-sizing: border-box;
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out 0s;
}

main .proekt picture img:hover{
    filter: grayscale(0%);
    transition: all 0.3s ease-in-out 0s;
}

main .proekt picture::after{
    content: '';
    display: block;
    position: absolute;
    left: 0; bottom: 0;
    width: 100%;
    height: 70px;
    background: -webkit-linear-gradient(0deg, rgb(0, 0, 0, 0.5), rgb(255, 255, 255, 0));
    background: -moz-linear-gradient(0deg, rgb(0, 0, 0, 0.5), rgb(255, 255, 255, 0));
    background: linear-gradient(0deg, rgb(0, 0, 0, 0.5), rgb(255, 255, 255, 0));
}

main .proekt .icon-name{
    position: absolute;
    bottom: 25px;
    left: 30px;
    z-index: 200;
    width: 30px;
    height: 30px;
}

main .proekt .proek-name{
    display: inline-block;
    position: absolute;
    bottom: 30px; left: 70px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    letter-spacing: -.3px;
    font-size: 14px;
    color: #fff;
}

main .proekt .layout-btn{
    box-sizing: border-box;
    padding: 25px 35px 30px 35px;
}

main .proekt .proekt-description .layout-btn .arrow-right{
    position: relative;
    top: 3px;
    width: 17px;
    height: 17px;
}

main .proekt .layout-btn a.btn-mode{
    display: flex;
    justify-content: space-between;
    width: 100%; height: 56px;
    text-decoration: none;
    box-sizing: border-box;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%);
    background-color: #000;
    color: #fff;
    line-height: 55px;
    border-radius: 5px;
    padding: 0 40px 0 25px;
    font-size: 15px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    letter-spacing: -.3px;
    padding-bottom: 5px;
    transition: all 0.3s ease-in-out 0s;
}

main .proekt .layout-btn a.btn-mode:hover{
    background-color: #1d55cd;
    transition: all 0.3s ease-in-out 0s;
}

main .proekt-wrap .proekt-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    background: #fff;
    margin-bottom: 1px;
    border-radius: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

main .proekt-wrap .proekt-footer a{
    display: block;
    width: calc(100% - 70px);
    padding: 15px 0;
    text-align: center;
    border-radius: 5px;
    background: #f5f5f5;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%);
    color: #000;
    font-size: 44px;
    font-family: 'Condens';
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
}

main .proekt-wrap .proekt-footer a:hover{
    color: #fff;
    background-color: #1d55cd;
    transition: all 0.3s ease-in-out 0s;
}

/* --- Page Proekt --- */

main .proekt-wrap .proekt-inner {
    margin: 100px 0;
    box-sizing: border-box;
    padding: 0 25px;
    color: #fff;
    font-size: 15px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    letter-spacing: -.3px;
    line-height: 26px;
    text-align: center;
}

main .proekt-wrap .proekt-local .local-icon{
    display: block;
    width: 40px;
    margin: 0 auto;
}

main .proekt-wrap .proekt-tech {
    margin: 70px 0;
}

main .proekt-wrap .proekt-tech ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

main .proekt-wrap .proekt-tech ul li {
    display: block;
    width: 300px;
    box-sizing: border-box;
    font-size: 15px;
    padding: 0 30px;
    border-right: 1px solid #373737;
}

main .proekt-wrap .proekt-tech ul li:last-child {
    border: 0;
}

main .proekt-wrap .proekt-tech ul li span {
    display: block;
    color: #9d9d9d;
}

main .proekt-wrap .proekt-content {
    text-align: left;
    max-width: 1200px;
    margin: 0 auto;
}

main .proekt-wrap .proekt-gallery {
    text-align: center;
    margin-bottom: 100px;
}

main .proekt-wrap .proekt-gallery picture {
    display: block;
    margin-bottom: 40px;
}

main .proekt-wrap .proekt-gallery picture img {
    border-radius: 4px;
}

main .link-back{
    padding-top: 30px;
    text-align: center;
}

main .link-back a{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    letter-spacing: -.3px;
    text-transform: none;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #3d3d3d;
    padding-bottom: 2px;
    transition: all 0.3s ease-in-out 0s;
}

main .link-back a:hover{
    border-bottom: 1px solid #fff;
    transition: all 0.3s ease-in-out 0s;
}

@media (max-width: 575.98px) {
    main .proekt-wrap .proekt-tech{
        margin: 40px 0 20px 0;
        box-sizing: border-box;
    }
    main .proekt-wrap .proekt-tech ul {
        align-items: flex-start;
        flex-direction: column;
    }
    main .proekt-wrap .proekt-tech ul li {
        border: 0;
        padding: 0 0 25px 0;
        text-align: left;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
    }
    main .proekt-wrap .proekt-content {
        box-sizing: border-box;
    }
    main .proekt-wrap .proekt-content p {
        text-align: justify;
        hyphens: auto;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
    }
    main .link-back a {
        font-size: 14px;
    }
}


main .shorts-wrap{
    /* margin-top: 1px; */
    margin-bottom: 1px;
    border-radius: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-sizing: border-box;
    padding: 40px 40px 20px 40px;
    background-color: #fff;
    /* clip-path: polygon(120px 0, 100% 0, 100% 100%, 0 100%, 0 120px); */
    /* clip-path: polygon(0 0, calc(100% - 120px) 0, 100% 120px, 100% 100%, 0 100%); */
}

main .shorts-wrap .shorts-heading{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 0;
}

main .shorts-wrap .shorts-heading .layout-figure{
    width: 50px;
    margin-right: 30px;
}

main .shorts-wrap h3{
    font-family: 'Condens';
    text-transform: uppercase;
    font-size: 92px;
    font-weight: 100;
}

main .shorts-wrap .shorts-inner{
    display: flex;
    align-items: flex-start;
    padding-left: 80px;
}

main .shorts-wrap .shorts-inner .continue{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 70px;
}

main .shorts-wrap .shorts-inner .continue .continue-inner{
    font-size: 15px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    letter-spacing: -.3px;
    line-height: 24px;
}

main .shorts-wrap .shorts-inner .continue a.btm-offer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 340px;
    height: 62px;
    line-height: 62px;
    background-color: #276bfb;
    box-sizing: border-box;
    padding: 0 25px;
    text-decoration: none;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%);
    border-radius: 12px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    letter-spacing: -.3px;
    font-size: 15px;
    color: #fff;
    transition: all 0.3s ease-in-out 0s;
}

main .shorts-wrap .shorts-inner .continue a.btm-offer:hover{
    background-color: #1d55cd;
    transition: all 0.3s ease-in-out 0s;
}

main .shorts-wrap .shorts-inner .continue a.btm-offer .icon-arrow{
    position: relative;
    top: 5px;
}

main .shorts-items .grid-4{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1px;
}

main .shorts-items .short .short-inner a{
    position: relative;
}

main .shorts-items .short .short-inner a picture{
    width: 100%;
    height: auto;
    display: block;
}

main .shorts-items .short .short-inner a picture img{
    display: block;
    filter: grayscale(100%);
    box-sizing: border-box;
    transition: all 0.3s ease-in-out 0s;
    overflow: hidden;
}

main .shorts-items .short .short-inner a picture img:hover{
    filter: grayscale(0%);
    box-sizing: border-box;
    transition: all 0.3s ease-in-out 0s;
}

main .shorts-items .short .short-inner a .icon-play{
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 200;
    width: 50px;
    height: 50px;
}

main .shorts-items .short .short-inner a .media-size{
    color: #fff;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    letter-spacing: -.3px;
    font-size: 13px;
    line-height: 54px;
    position: absolute;
    bottom: 20px;
    left: 75px;
    z-index: 200;
    width: 100px;
    height: 50px;
}


main .content-page {
    margin-top: 1px;
    border-radius: 30px;
    /*
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    */
    box-sizing: border-box;
    padding: 40px;
    background-color: #fff;
}

main .content-page .contact-items {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    letter-spacing: -.3px;
    font-size: 15px;
    line-height: 26px;
}

main .content-page .contact-items .contact-cell {
    padding: 25px;
}

main .content-page .contact-items .contact-cell a {
    color: #000;
    text-decoration: none;
}

main .content-page .contact-map .map-content iframe {
    box-sizing: border-box;
    padding: 20px;
    border-radius: 30px;
}

main .content-page .contact-map .map-header h2 {
    padding: 60px 0 30px 20px;
    font-family: 'Condens';
    text-transform: uppercase;
    font-size: 52px;
    line-height: 52px;
    font-weight: 100;
}

main .content-page .cookie {
    max-width: 800px;
    padding: 50px 0 0 80px;
}

main .content-page .cookie h3 {
    font-family: 'Condens';
    text-transform: uppercase;
    font-size: 62px;
    line-height: 62px;
    font-weight: 100;
}

main .content-page .cookie p{
    text-align: justify;
    hyphens: auto;
    font-size: 15px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    letter-spacing: -.3px;
    line-height: 24px;
    padding: 0;
    margin: 30px 0 70px 0;
}

.engineering-page .product-content {
    padding: 60px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    letter-spacing: -.3px;
    font-size: 15px;
    line-height: 26px;
    background: #fff;
    border-radius: 30px;
}

.engineering-page .product-content h2{
    display: block;
    margin-bottom: 30px;
    font-size: 72px;
    line-height: 72px;
    text-transform: uppercase;
    font-family: 'Condens';
    text-decoration: none;
    color: #000;
    font-weight: 100;
}

.engineering-page .product-content p{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    letter-spacing: -.3px;
    padding-bottom: 10px;
}


footer{
    position: relative;
    box-sizing: border-box;
    padding: 150px 40px 40px 40px;
    color: #fff;
    border-top-left-radius: 30px;
    background-color: #000000;
}

footer .footer-wrap{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0;
}

footer .footer-wrap .layout-logotype .copyright{
    font-size: 17px;
    font-weight: 500;
    color: #fff;
}

footer .footer-wrap .footer-items{
    padding: 0 25px 25px 25px;
    margin-bottom: 80px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    letter-spacing: -.3px;
}

footer .footer-wrap .footer-items ul li{
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
}

footer .footer-wrap .footer-items ul li:first-child{
    font-size: 15px;
    color: #9d9d9d;
    padding-bottom: 25px;   
}

footer .footer-wrap .footer-items ul li a{
    text-transform: none;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #3d3d3d;
    padding-bottom: 2px;
    transition: all 0.3s ease-in-out 0s;
}

footer .footer-wrap .footer-items ul li a:hover{
    transition: all 0.3s ease-in-out 0s;
    border-bottom: 1px solid #fff;   
}

footer .krantechmash{
    margin-top: 200px;
}

footer .krantechmash img{
    width: 100%;
}

/* Стили для перехода между страницами */
.page-enter-active,
.page-leave-active {
    transition: opacity 0.2s ease;
}
.page-enter-from,
.page-leave-to {
    opacity: 0;
}

/* Logo */

.layout-logotype.black svg{
    fill: #000;
}

.layout-logotype.white svg{
    fill: #fff;
}
